<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
		<bean id="OutputHelper" class="com.vinaykolusu.springSample.gitSpringDI.OutputHelper" >
			<property name="employeeGenerator" ref="ManagerGeneratorImpl" />
		</bean>
		
		<bean name="ManagerGeneratorImpl" class="com.vinaykolusu.springSample.gitSpringDI.impl.TeamMemberGeneratorImpl" />
			

</beans>
